<% provide(:title, "Edit #{@page.name}") %>

<h1>Edit <%= @page.name %> page</h1>

<%= form_for(@page) do |f| %>
  <%= render 'shared/error_messages', object: f.object  %>

  <%= f.label :content %>
  <%= f.text_area :content, class: 'form-control field-group' %>

  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>
