<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>

  <div class="section">
    <%= f.fields_for :sections do |section| %>
      <div>
        <%= render 'section_fields', f: section %>
      </div>
    <% end %>
    <div>
      <%= link_to_add_association 'add section', f, :sections %>
    </div>
  </div>



  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
