<%= form_for(@post, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>

  <%= f.label :body %>
  <%= f.text_area :body, class: 'form-control' %>

  <%= f.label :picture, 'Primary image' %>
  <p><%= image_tag @post.picture.url if @post.picture?%></p>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: 'field-group' %>
  </span>

  <div class="section">
    <%= f.fields_for :sections do |section| %>
      <div>
        <%= render 'section_fields', f: section %>
      </div>
    <% end %>
    <div>
      <%= link_to_add_association 'add section', f, :sections %>
    </div>
  </div>

  <p>
    <%= f.label :label_list %>
    <%= f.text_field :label_list, class: 'form-control field-group' %>
  </p>


  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
