<li id="post-<% post.id %>">
  <div class="row-fluid">
    <div class="<%= "col-sm-5" if post.picture? %>">
      <%= link_to image_tag(post.picture.url(:medium), class: "img"), post %>
    </div>
    <div class="<%= post.picture? ? "col-sm-7" : "col-sm-12" %>">
      <span class="h2 title"><%= link_to post.title, post %></span>
      <span class="timestamp">
        <%= post.created_at.to_date.to_formatted_s :long %>
      </span>
        <div class="body">
          <%= sanitize(post.body.truncate(200, separator: ' ')) %>
        </div>
        <% if post.labels.any? %>
          <span class="labels">
            <% post.labels.each do |label| %>
              <%= link_to label.name, label %>
            <% end %>
          </span>
        <% end %>
      </span>
    </div>
  </div>
</li>
