<% provide(:title, @post.title) %>
<div class="post">
  <div class="admin-links">
    <% if logged_in? && current_user.admin? %>
      <%= link_to "edit", edit_post_path(@post) %>
      <%= link_to "delete", @post, method: :delete, data: {confirm: "You Sure?"} %>
    <% end %>
  </div>

  <div class="image-container centered">
    <% if @post.picture? %>
      <%= image_tag @post.picture.url, class: "image" %>
    <% end %>
  </div>
  <div class="post-body centered">
    <div class="post-header">
      <h1><%= @post.title %></h1>
      <span class="timestamp">
        <%= @post.created_at.to_date.to_formatted_s :long %>
      </span>
    </div>
    <div class="body"><%= @post.body.html_safe %></div>

    <div class="sections"><%= render 'shared/sections' %></div>
    <span class="labels"><%= render 'shared/labels' %></span>
    <span class="float-right"><%= link_to "back to posts", root_url %></span>
  </div>
</div>

<div class="comments centered">
  <%= render 'shared/comments' %>
  <%= render partial: 'comments/form', id: "form" %>
</div>
